train_leg/leg/logs/*
train_leg/leg/outputs/*
train_leg/leg/.vscode
rasberrypi/catkin_ws/build/
rasberrypi/catkin_ws/devel/
rasberrypi/catkin_ws/src/CMakeLists.txt
rasberrypi/catkin_ws/.catkin_workspace
*.pt